 @import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');

html
body {
  height: 100%;
}

.titulo {
  color: #1813FD;
  font-size: 18px; 
}

.titulo_2 {
  color: #1813FD;
  font-size: 18px; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arima", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px; 
  width: 100%;
  padding: 40px; 
}

.row {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.col-md-12 {
  width: 100%;
}

.btn {
  margin-bottom: 20px; 
  color: #1813FD;
  font-size: 20px; 
}

.app-name {
  text-align: center;
  margin-bottom: 80px; 
  color: #1813FD;
  font-size: 70px; 
}

.footer {
  padding: 60px; 
  text-align: center;
  font-size: 1.2rem; 
  font-weight: 400;
}

.app-logo {
  display: inline-block;
  vertical-align: middle;
  width: 90px; 
  height: 90px; 
  margin-right: 10px;
}
